@include laptop {
	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10rem;
		padding: 9rem 5rem;
	}
}

.lightbox {
	position: relative;
	@include laptop {
		width: 100%;
	}
	.productHero {
		width: 100%;
		@include laptop {
			border-radius: 1.5rem;
		}
	}
	.previous {
		left: 5%;
		@include laptop {
			display: none;
		}
		&:hover {
			left: 4%;
		}
	}
	.next {
		right: 5%;
		@include laptop {
			display: none;
		}
		&:hover {
			right: 4%;
		}
	}
	.arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: $white;
		border-radius: 50%;
		width: 5rem;
		height: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all 0.3s ease;
	}
	.thumbGallery {
		display: none;
		@include laptop {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 3rem;
			.pic {
				display: flex;
				width: 20%;
				height: fit-content;
				overflow: hidden;
				border-radius: 1rem;
				img {
					width: 100%;
					&:hover {
						opacity: 0.75;
					}
				}
			}
			.active {
				border: 2px solid $orange;
				img {
					opacity: 0.5;
				}
			}
		}
	}
}