.product {
	padding: 2rem 2.5rem 4.5rem 2.5rem;
	@include laptop {
		width: 100%;
		padding: 3rem 0 3rem 3rem;
		.countBtnGroup {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1.5rem;
			margin-top: 1.5rem;
		}
	}
	.companyName {
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 700;
		color: $orange;
		letter-spacing: 0.20rem;
	}
	.title {
		color: $very-dark-blue;
		font-size: 3rem;
		font-weight: 700;
		margin-top: 1.5rem;
		line-height: 120%;
		@include laptop {
			font-size: 4.5rem;
			margin-top: 2rem;
		}
	}
	.description {
		font-size: 1.5rem;
		color: $dark-grayish-blue;
		line-height: 165%;
		margin-top: 1.5rem;
		@include laptop {
			margin-top: 3.5rem;
			font-size: 1.5rem;
		}
	}
	.priceWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 2rem;
		@include laptop {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 2.5rem;
			gap: 1rem;
		}
		.group {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			.price {
				font-size: 3rem;
				font-weight: 700;
			}
			.discount {
				font-size: 1.5rem;
				font-weight: 700;
				color: $orange;
				background-color: $pale-orange;
				margin-left: 1.5rem;
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;
			}
		}
		.oldPrice {
			font-size: 2rem;
			font-weight: 700;
			color: $grayish-blue;
			text-decoration: line-through;
		}
	}
	.counterWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $light-grayish-blue;
		padding: 1.5rem 2.5rem;
		margin-top: 2rem;
		border-radius: 1rem;
		@include laptop {
			width: 60%;
			border-radius: 1rem;
			padding: 1rem 0.5rem;
		}
		.counter {
			font-size: 1.5rem;
			font-weight: 700;
		}
		#btnMinus,
		#btnPlus {
			cursor: pointer;
			padding: 1rem;
			border-radius: 0.5rem; //optional
			&:hover {
				opacity: 0.5;
				background-color: $pale-orange; //optional
			}
		}
	}
	.btn {
		background-color: $orange;
		color: $white;
		margin-top: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		font-size: 1.5rem;
		font-weight: 700;
		border-radius: 1rem;
		padding: 2rem;
		img {
			height: 1.5rem;
			filter: brightness(300%);
		}
		box-shadow: 0px 20px 30px 0px $pale-orange;
		cursor: pointer;
		@include laptop {
			width: 100%;
		}
	}
}